@import "node_modules/ol/ol.css";

:root {
  /* Colours */
  --col-lightblue: rgb(208, 237, 247);

  /* Pixel values */
  --var-width: 400px
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Preset flex styles */
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* OpenLayer map element */
.ol-map {
  position: absolute;
  left: 0;
  top: 0;  
  width: 100vw;
  height: 100vh;
}

/* OpenLayer map zoom element */
.map_zoom_control {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* OpenLayer map zoom element buttons */
.map_zoom_control button {
  width: 30px;
  height: 30px;
}
.map_zoom_control button:hover {
  background-color: var(--col-lightblue);
}

/* Custom menu for the OpenLayer map */
.selection_menu {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: var(--var-width);
  background-color: rgb(50, 50, 50, 0.5);
  animation-duration: 200ms; 
  animation-timing-function: ease-in-out;
}


/* Keyframes for selection_menu animation toggle */
@keyframes menu-animation-open {
  0% {
    left: 0px;
  } 100% {
    left: -400px;
  }
}

@keyframes menu-animation-close {
  0% {
    left: -400px;
  } 100% {
    left: 0px;
  }
}


/* selection_menu button styles */
.selection_menu_button {
  position: absolute;
  right: -40px;
  top: 0;
  background-color: snow;
  color: black;
  border-radius:0 0 10px 0;
  width: 40px;
  height: 80px;
}
.selection_menu_button:active {
  outline: none;
}

/* All the interactive fields to change data in selection_menu */
.selection_menu_section {
  display: grid;
  grid-template-rows: 200px auto 120px;
  position: relative;
  width: var(--var-width);
  background-color: snow;
  height: 100%;
}

.selection_menu_logobox {
  /* position: absolute;
  top: 0px; */
  width: var(--var-width);
  height: 200px;
  color: black;
}

.selection_menu_logobox div {
  width: var(--var-width);
  height: 50px;
  background-color: lightblue;
}

.selection_menu_options {
  width: var(--var-width);
  height: auto;
  background-color: snow;
}

.selection_menu_options_child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection_menu_options div {
  color: black;
  width: var(--var-width);
}

.selection_select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
}

.selection_select_child {
  display: flex;
  flex-direction: column;
}
.selection_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--col-lightblue);
}

.selection_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
}

.selection_menu_databox {
  position: absolute;
  bottom: 0px;
  width: var(--var-width);
  height: 120px;
  border-top: 1px solid black;
  color: green;
}